.filtersPane {
    @apply bg-white py-4 fixed -left-full top-navbarHeight w-full h-full overflow-y-scroll;
    @apply xl:static xl:block xl:col-span-2;

    z-index: 1500;
}

.filtersPageOpened {
    composes: filtersPane;

    @apply left-0 pt-14;
}

.filtersInnerWrapper {
    @apply mx-auto sm:w-3/5 lg:w-1/3 xl:w-full;
}

.filtersFab {
    @apply fixed block right-5 bottom-5 flex justify-center items-center;
    @apply rounded-full bg-red-400 w-14 h-14 bg-primary text-white text-2xl;
    @apply xl:hidden;

    z-index: 900;
}

.closeFiltersButton {
    @apply shadow-lg bg-white px-5 py-1 rounded-xl fixed top-16 md:top-20;
    @apply left-1/2 transform -translate-x-1/2;
    @apply hidden items-center;
    @apply xl:hidden;

    z-index: 1600;
}

.closeFiltersButtonActive {
    composes: closeFiltersButton;

    @apply flex;
}
